<!-- 示例页面 -->
{extend name='main'/}
{block name='css'}
<style>
    #ab {
        width: 300px;
        height: 300px;
        margin: 100px;
        line-height: 100px;
        border: 1px solid red;
    }
</style>
{/block}

{block name='content'}
<div class="layer-photos-demo" id="layer-photos-demo">
    <img src="/static/admin/images/logo.png"  alt="">
    <img src="/static/admin/images/logo.png"  alt="">
    <img src="/static/admin/images/logo.png"  alt="">
    <img src="/static/admin/images/logo.png"  alt="">
</div>
{/block}

{block name='js'}
<script>
    layui.use(['form', 'element'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            element = layui.element;

        // layer.alert('酷毙了', { icon: 0, anim: 3 });
        // layer.load(5);
        // $('#lay-photos-demo').click(function () {
        //     layer.photos({
        //         photos: '#layer-photos-demo',
        //         anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        //     });
        // })
        layer.photos({
                photos: '#layer-photos-demo',
                anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });


        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });

        element.on('tab(docDemoTabBrief)', function (data) {
            layer.msg(this.getAttribute('lay-id'));
            return false;
        })
    });
</script>
{/block}