<!-- 示例页面 -->
{extend name='main'/}
{block name='css'}
<style>
    #ab {
        width: 300px;
        height: 300px;
        margin: 100px;
        line-height: 100px;
        border: 1px solid red;
    }
</style>
{/block}

{block name='content'}
<form action="" class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">输入框</label>
        <div class="layui-input-block">
            <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <input type="hidden" name="id" value="2">

    <button class="layui-btn" lay-submit lay-filter="a"> 提交</button>
</form>


<div class="lay-row">
    <a class="layui-btn" data-modal="{:url('add')}"  data-method='post'>modal</a>

    <a class="layui-btn layui-btn-danger layui-btn-xs" data-confirm="确定要删除数据吗?" data-action="{:url('edit')}"
        data-value="id#157" data-method='get' data-csrf="csrf5df76031a470d">删
        除</a>
</div>

{/block}

{block name='js'}
<script>

</script>
{/block}